.panelList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__boxItem {
        flex: 0 0 200px;
        background: #E2E4E6;
        margin: 15px;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;

        &:hover {
            background: #728e96;
        }

        &--blank {
            background: transparent;
            &:hover {
                background: transparent;
            }
        }

        &--animation {
            transition: opacity 5s ease-out,
                        background 0.6s linear;
            opacity: 0.5;
        }

        &--fadeIn {
            opacity: 1;
        }
    }
}